name: Bump dependencies

on:
  workflow_call:
    secrets:
      WORKFLOW_BOT_APP_ID:
        required: true
      WORKFLOW_BOT_PRIVATE_KEY:
        required: true

defaults:
  run:
    shell: bash

env:
  node-version: lts/*

jobs:
  create-pull-request:
    environment:
      name: workflow-bot
      url: ${{ steps.pull-request.outputs.url }}
    name: Create pull request
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - id: generate-token
        name: Generate token for workflow-bot
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.WORKFLOW_BOT_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@main
      - name: 'Sanity check: validate CHANGELOG.md'
        run: npx keep-a-changelog --latest-release
      - name: Configure user profile
        run: |
          git config user.email "${{ format('@{0}', github.actor) }}"
          git config user.name "${{ format('@{0}', github.actor) }}"
      - name: Use Node.js ${{ env.node-version }}
        uses: actions/setup-node@main
        with:
          node-version: ${{ env.node-version }}
          cache: npm
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: npm clean-install
      - run: npm run bump
      - run: npm dedupe
      - name: Run npm audit fix
        run: npm audit fix || true
      - name: Create branch
        id: branch
        run: |
          BRANCH_NAME=bot/bump-deps/${{ github.run_number }}
          git checkout -b $BRANCH_NAME

          echo branch-name=$BRANCH_NAME | tee --append $GITHUB_OUTPUT
      - name: Stage changes
        run: git add --all
      - name: Commit changes
        run: git commit --message "Bump dependencies"
      - name: Push changes
        run: git push --set-upstream origin ${{ steps.branch.outputs.branch-name }}
      - continue-on-error: true
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        id: pull-request
        name: Create pull request
        run: |
          gh api repos/${{ github.repository }}/pulls \
            --field base=main \
            --field head=${{ steps.branch.outputs.branch-name }} \
            --field title="Bump dependencies" \
            | tee /tmp/output.json
          echo pull-request-number=$(cat /tmp/output.json | jq -r .number) | tee --append $GITHUB_OUTPUT
      - continue-on-error: true
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        name: Assign pull request ${{ steps.pull-request.outputs.pull-request-number }} to ${{ github.actor }}
        run: |
          gh api repos/${{ github.repository }}/issues/${{ steps.pull-request.outputs.pull-request-number }}/assignees \
            --field assignees[]=${{ github.actor }}
      - id: generate-changelog
        name: Generate CHANGELOG.md
        uses: compulim/generate-bump-changelog-action@v0.0.1
        with:
          change-path: /tmp/change.txt
          pull-request-number: ${{ steps.pull-request.outputs.pull-request-number }}
      - name: Stage changes to CHANGELOG.md
        run: git add CHANGELOG.md
      - name: Commit CHANGELOG.md
        run: git commit --message "Add bump dependencies entry"
      - name: Push changes of CHANGELOG.md
        run: git push
      - continue-on-error: true
        name: Build pull request body
        run: |
          cat <<EOF | tee /tmp/pull-request-body.txt
          > Created in [workflow run ${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}).

          ## Changelog

          ### Changed

          EOF

          cat /tmp/change.txt | tee --append /tmp/pull-request-body.txt
      - continue-on-error: true
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        name: Update pull request body
        run: |
          gh api repos/${{ github.repository }}/pulls/${{ steps.pull-request.outputs.pull-request-number }} \
            --field body=@/tmp/pull-request-body.txt
