name: Bump scaffold

on:
  workflow_call:
    inputs:
      package-name:
        description: Name of the package
        required: true
        type: string
      use-react:
        default: true
        description: Use React
        type: boolean
      skip-integration-test:
        default: false
        description: Skip integration test
        type: boolean
    secrets:
      WORKFLOW_BOT_APP_ID:
        required: true
      WORKFLOW_BOT_PRIVATE_KEY:
        required: true

defaults:
  run:
    shell: bash

jobs:
  bump-scaffold:
    environment:
      name: workflow-bot
      url: ${{ steps.pull-request.outputs.url }}
    name: Bump scaffold
    runs-on: ubuntu-latest

    steps:
      - id: generate-token
        name: Generate token for workflow-bot
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.WORKFLOW_BOT_APP_ID }}
          private-key: ${{ secrets.WORKFLOW_BOT_PRIVATE_KEY }}

      - name: Check out current
        uses: actions/checkout@v4
        with:
          path: ./current
          token: ${{ steps.generate-token.outputs.token }}

      - name: Check out template
        uses: actions/checkout@v4
        with:
          path: ./template
          repository: compulim/workflows

      - id: find-package-path
        name: Find package path
        run: |
          path=$(find packages -name "package.json" -exec sh -c 'jq -e ".name == \"${{ inputs.package-name }}\"" {} > /dev/null && dirname {}' \;)
          [ -z "$path" ] && exit 1
          echo package-path=$path | tee --append $GITHUB_OUTPUT
        working-directory: ./current

      - name: Configure user profile
        run: |
          git config user.email "${{ format('@{0}', github.actor) }}"
          git config user.name "${{ format('@{0}', github.actor) }}"
        working-directory: ./current

      - id: create-branch
        name: Create branch
        run: |
          BRANCH_NAME=bot/bump-scaffold/${{ github.run_number }}

          git checkout -b $BRANCH_NAME
          echo branch-name=$BRANCH_NAME >> $GITHUB_OUTPUT
        working-directory: ./current/

      - name: Update directory names
        run: |
          for i in common react; do
            for j in copy merge; do
              echo --- $i/$j

              cd ./template/scaffold/$i/$j/
              mv ./packages/\$package-name ${{ steps.find-package-path.outputs.package-path }}
              cd ../../../

              echo
            done
          done

      - name: Update content
        run: |
          for i in $(find -type f)
          do
            echo --- $i

            sed -i "s|\$package-name|${{ inputs.package-name }}|g" "$i"
            sed -i "s|\$package-local-name|$(basename "${{ inputs.package-name }}")|g" "$i"
            sed -i "s|\$use-react|${{ inputs.use-react }}|g" "$i"

            echo
          done
        working-directory: ./template/scaffold/

      - name: Copy "common" scaffold
        run: rsync --recursive --verbose ./template/scaffold/common/copy/ ./current/

      - name: Merge "common" scaffold
        run: |
          shopt -s globstar

          for i in $(find **/*.json -type f)
          do
            echo --- $i

            if [[ -f ../../../../current/$i ]]
            then
              cat ../../../../current/$i | jq --slurpfile merge $i '. + $merge[0]' | tee /tmp/temp.json
              mv /tmp/temp.json ../../../../current/$i
            fi

            echo
          done
        working-directory: ./template/scaffold/common/merge/

      - if: inputs.use-react
        name: Copy "react" scaffold
        run: rsync --recursive --verbose ./template/scaffold/react/copy/ ./current/

      - if: inputs.use-react
        name: Merge "react" scaffold
        run: |
          shopt -s globstar

          for i in $(find **/*.json -type f)
          do
            echo --- $i

            if [[ -f ../../../../current/$i ]]
            then
              cat ../../../../current/$i | jq --slurpfile merge $i '. + $merge[0]' | tee /tmp/temp.json
              mv /tmp/temp.json ../../../../current/$i
            fi

            echo
          done
        working-directory: ./template/scaffold/react/merge/

      - continue-on-error: true
        name: Update configuration files
        run: |
          npm clean-install
          npm run postscaffold
        working-directory: ./current

      - id: get-changes
        name: Get changes
        run: |
          git status
          git ls-files --deleted --exclude-standard --modified --others

          if [[ $(git ls-files --deleted --exclude-standard --modified --others | wc -l) -gt 0 ]]
          then
            echo has-changes=true | tee --append $GITHUB_OUTPUT
          fi
        working-directory: ./current

      - if: steps.get-changes.outputs.has-changes == 'true'
        name: Stage changes
        run: git add .
        working-directory: ./current

      - if: steps.get-changes.outputs.has-changes == 'true'
        name: Commit changes
        run: git commit -a -m "Bump scaffold"
        working-directory: ./current

      - if: steps.get-changes.outputs.has-changes == 'true'
        name: Push changes to ${{ steps.create-branch.outputs.branch-name }}
        run: git push -u origin ${{ steps.create-branch.outputs.branch-name }}
        working-directory: ./current

      - env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        id: pull-request
        if: steps.get-changes.outputs.has-changes == 'true'
        name: Create pull request
        run: echo url=$(gh pr create --body "> Created in [workflow run ${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})." --fill --repo ${{ github.repository }}) | tee --append $GITHUB_OUTPUT
        working-directory: ./current
